section#aboutMe
  .flex.flexCenter
    .col-1
        p.sub Quem Sou
    .col-1
      p.indent Meu primeiro contato com web design foi durante meu último ano de faculdade, onde ao final da matéria foi me pedido que criasse um website em Html e Css. Foi certamente uma experiência única e desde então descobri uma nova paixão.
      p.indent Após um tempo, percebi que desenvolver um website envolvia muito mais do que apenas digitar códigos. Design, marketing, SEO, planejamento e como tudo isso s relaciona, foi em que eu me aperfeiçoei para proporcionar aos usuários de meus sites, a mesma experiência única que eu tive quando conheci o mundo do web Design.
      
