section#contact
  .flex.flexCenter
    .col-1
      p.contacT Compartilhe suas ideias
      p.email thewazig.wf@hotmail.com
      p.cel cel: 9-6364-2358
    .col-1
      form(id="contact-form", action="", method="post")
        
        input(type="text", id="first-name", placeholder="Nome")
        
        input(type="text", id="e-mail", placeholder="E-mail")
        
        input(type="text", id="subject", placeholder="Assunto" )
        
        textarea(id="message", placeholder="Sua mensagem")
        
        input(type="submit", id="sending", value="Enviar")
  
  .flex.flexCenter
    .col-2
     p Copyright  ©  2016. Todos os direitos reservados ao criador deste site
