mixin thumb
  a(href="" style="background-image: url(http://fillmurray.com/230/500)").article-thumb
    .article-meta
      .name article name
      .date Nov 16, 1990

section#projects
  .flex.flexCenter
    .col-50.flex.flexCenter
      .col-1
        .desc-project
          p.sub Projetos
        
    .col-50.orderFirst
      .article-wrap
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
          
