.homeWrap header {
  width: 135px;
  background: white;
  padding-top: 30px;
}

.homeWrap header .headerPosition {
  width: 135px;
  position: fixed;
  top: 30px;
  left: 0;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeWrap header .logo {
  font-size: 60px;
  text-align: center;
  min-width: 100px;
}

.homeWrap header .mainNav ul {
  margin-top: 20px;
  padding: 0 20px 0 0;
  text-align: right;
}

.homeWrap header .mainNav ul li {
  margin-bottom: 10px;
}

.homeWrap header .mainNav ul li:last-child {
  margin-bottom: 0;
}

.homeWrap header .emailLink {
  display: block;
  text-align: right;
  padding-right: 20px;
}

.homeWrap header .mobileNavToggle {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 20px;
  align-items: center;
}

.homeWrap header .mobileNavToggle span,
.homeWrap header .mobileNavToggle span:before,
.homeWrap header .mobileNavToggle span:after {
  content: "";
  display: block;
  background: black;
  width: 45px;
  height: 2px;
  margin: 0 auto;
  position: relative;
  transition: all .3s ease-in-out;
}

.homeWrap header .mobileNavToggle span::before {
  top: -17px;
}

.homeWrap header .mobileNavToggle span::after {
  top: 15px;
}

.homeWrap header .mobileNavToggle.isOpen span {
  background: transparent;
}

.homeWrap header .mobileNavToggle.isOpen span:before,
.homeWrap header .mobileNavToggle.isOpen span:after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}

.homeWrap header .mobileNavToggle.isOpen span:after {
  transform: rotate(-45deg);
}

.homeWrap .mobileNav {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  padding: 40px 0 20px;
  text-align: center;
  transform: translateY(-100%);
  transition: all .3s ease-in-out;
}

.homeWrap .mobileNav ul {
  margin: 0;
  padding: 0;
}

.homeWrap .mobileNav ul li {
  margin-bottom: 10px;
}

.homeWrap .mobileNav ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 775px) {
  .homeWrap header {
    width: auto;
    padding-top: 20px;
  }
  .homeWrap header .headerPosition {
    width: auto;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    flex-direction: row;
    align-items: center;
  }
  .homeWrap header .headerPosition .logo {
    font-size: 45px;
  }
  .homeWrap header .headerPosition .mainNav, .homeWrap header .headerPosition .emailLink {
    display: none;
  }
  .homeWrap header .headerPosition .mobileNavToggle {
    display: flex;
  }
  .homeWrap .mobileNav.isOpen {
    display: block;
    transform: translateY(0);
  }
}

section#about h2 {
  font-size: 8vh;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 40px;
  margin-left: -108px;
  margin-top: 0;
}

section#about .lead {
  padding-bottom: 50px;
}

@media (max-width: 640px) {
  section#about h2, section#about .lead {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 300px;
  }
}

section#aboutMe .col-2 p {
  padding: 10px 0;
  color: #444;
  font-size: 30px;
  border-top: none;
  text-align: center;
}

section#projects .article-wrap {
  clear: both;
  overflow: auto;
  margin: -50px 0;
}

section#projects .article-wrap .article-thumb {
  display: block;
  background-size: cover;
  background-position: center;
  width: 33.33%;
  float: left;
  position: relative;
  overflow: hidden;
}

section#projects .article-wrap .article-thumb:after {
  content: "";
  display: block;
  padding-top: 100%;
}

section#projects .article-wrap .article-thumb .article-meta {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 10px;
  opacity: 0;
  transform: translate(0%, 100%) scale(0.5);
  transition: all 0.3s ease-in-out;
}

section#projects .article-wrap .article-thumb:hover .article-meta {
  opacity: 1;
  transform: translate(0%, 0%) scale(1);
}

@media (max-width: 640px) {
  .desc-project {
    margin-bottom: 100px;
  }
}

section#contact {
  background: #333;
  padding: 50px 0 0px 0;
  overflow: hidden;
}

section#contact .flex {
  margin-bottom: 50px;
}

section#contact .flex:last-child {
  margin-bottom: 0;
}

section#contact .col-1 p {
  color: #fff;
  text-align: center;
}

section#contact .col-1 .contacT {
  font-size: 20px;
}

section#contact .col-1 .email, section#contact .col-1 .cel {
  color: #ddd;
  font-size: 14px;
  letter-spacing: 1.4px;
}

section#contact .col-1 form #first-name, section#contact .col-1 form #e-mail, section#contact .col-1 form #subject, section#contact .col-1 form textarea, section#contact .col-1 form #sending {
  width: 250px;
  margin: 15px auto;
  padding: 5px;
  display: block;
  background: transparent;
  color: white;
}

section#contact .col-1 form #first-name, section#contact .col-1 form #e-mail, section#contact .col-1 form #subject {
  border-top: none;
  border-right: none;
  border-left: none;
}

.col-2 {
  border-top: 1px solid white;
  padding-top: 20px;
}

.col-2 p {
  font-size: 12px;
  color: #ddd;
  text-align: center;
}

.homeWrap {
  display: flex;
  min-height: 100vh;
}

@media (max-width: 775px) {
  .homeWrap {
    display: block;
  }
}

.homeSections {
  flex: 1;
}

.homeSections section {
  padding: 50px 0;
}

.homeSections .flex {
  display: flex;
  flex-direction: row;
}

.homeSections .flexCenter {
  justify-content: center;
}

.homeSections .flexAround {
  justify-content: space-around;
}

.homeSections .orderFirst {
  order: -1;
}

.col-1 {
  min-width: 300px;
  max-width: 300px;
  margin: 0 10px;
}

.col-2 {
  max-width: 620px;
  margin: 0 10px;
  width: 100%;
}

.col-50 {
  width: 50%;
}

.pushRight {
  margin-left: 330px;
}

@media (max-width: 640px) {
  .homeSections .flex {
    display: block;
  }
  .homeSections .col-1 {
    max-width: 100%;
    margin: 10px;
  }
  .homeSections .col-50 {
    width: auto;
  }
  .homeSections .pushRight {
    margin-left: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}

*:focus {
  outline: none;
}

* a, * li {
  list-style: none;
  text-decoration: none;
  outline: 0;
  color: #888;
  font-weight: bold;
}

* a:hover, * li:hover {
  color: black;
}

html, body {
  min-height: 100vh;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #555;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
  color: #555;
}

.lead, .sub {
  font-size: 36px;
  line-height: 1.1;
}

.sub {
  text-align: center;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url(https://fonts.gstatic.com/s/firasans/v5/QURAmFz4b80g324-oF-Uj44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
}
