@import "sass/mixins.sass"
@media screen and (min-width: 0)
    header
        width: 100%
        height: 100vh

        .navTrigger
            z-index: 90
            position: fixed
            top: 0
            left: 0
            width: 100%
            height: 4em
            background: $brown
            display: table
            p
                float: right
                color: $lightBlue
                padding: 0 0.6em
                cursor: pointer
                font:
                    size: 3.5em
                +transform(translateZ(0))
                +transition(0.2s)
                &:active
                    +transform(scale(0.9))
                    
        nav
            z-index: 99
            position: fixed
            top: 0
            left: 0
            +transform(translate(-100vw, 0))
            width: 100%
            height: 100vh
            #navWrapper
                width: 60vw
                height: 100vh
                background: $brown
                border-right: 0.1em double $lightBrown
                .logo
                    display: block
                    width: 100%
                    text-align: center
                    padding: 2em 0
                    font:
                        size: 2em
                a
                    color: $lightBlue
                    display: block
                    width: 100%
                    text-align: center
                    font-size: 1.6em
                    padding: 0.5em 0
                    &:hover
                        background: rgba(0,0,0,0.5) 

