doctype html
html
  head
    title Washington Ferreira
    link(rel="stylesheet" href="assets/css/main.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no" )
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-76522210-1', 'auto');
      ga('send', 'pageview');


  body
    .homeWrap
      include includes/header.jade

      .homeSections

        include includes/about.jade
        include includes/projects.jade
        include includes/aboutMe.jade
        include includes/contato.jade
        //include includes/columns.jade
