header
    .navTrigger
        a(href="#") menu
    nav
        .centering
            .logo
                h2 { wf }
            .menu
                a(href="#aboutMe") Quem sou
                a(href="#work") Projetos
                a(href="#how") O processo
                a(href="#contact") Contato
    
    #headerSection
        .header
            h1 Washingon Ferreira
            h2 <strong> Web design // Developer </strong>
            p.share Compartilhe suas ideias
            .iconsWrapperHeader
                .twiter.icons
                    a(href="#contact")
                .behance.icons
                    a(href="#contact")
                .github.icons
                    a(href="#contact")
            .headerContact
                a(href="#contact") Contato
        .headerArrow
            a(href="#aboutMe")
        