section#aboutMe
    #aboutWrapper
        .photo
            p Loading...
        article.about
            h2 Quem sou?
            p.
                Meu primeiro contato com o fantástico mundo da arte criativa e dos códigos, aconteceu em meu terceiro semestre de faculdade, onde em uma de minhas matérias fui apresentado as linguagens Html e Css. Foi certamente uma experiência única, a forma como simples códigos se completavam e se transformavam em formas, animações, cores... dava vida as minhas ideias. Ao final, fui desafiado a criar um website funcional do zero e este foi o meu primeiro. É claro que como primeiro, não passou muito perto de algo profissional más foi o suficiente para despertar em mim o desejo de crescer e melhorar naquilo.
            p.
                Após a faculdade, trabalhei por um tempo em uma empresa, criando layouts e sites, más a experiência não foi muito bem como eu imaginava, soluções engessadas e sem muito espaço para criatividade. Foi quando resolvi que faria diferente. Soluções criativas baseadas em uma análise profunda das necessidades do cliente. 
            p.
                Busco inspiração em várias áreas que embora que embora não sejam diretamente relacionadas a minha, sempre agregam conhecimento e me ajudam a crescer como pessoa, e como profissional que desejo ser. 

    #servicesWrapper
        .articles            
            article.design
                .servImg.icons
                .servArticle
                    h2 Design
                    p.
                        O design que ofereço é cuidadosamente baseado em pesquisas sólidas para incorporar não somente beleza más também funcionalidade ao seu projeto.

            article.developement
                .servImg.icons
                .servArticle
                    h2 Desenvolvimento
                    p.
                        Hoje, grande parte das informações que trafegam na internet são através de tablets e smartphones. É importante que o seu site se adapte a todas as telas para fornecer a experiência adequada a todos os seus usuários ou clientes. 

            article.social
                .servImg.icons
                .servArticle
                    h2 Mídias sociais
                    p.
                        Estas opções irão ajuda-lo a manter contato com seus clientes e usuários e garantir o reconhecimento de sua marca através das plataformas sociais.

            article.more
                .servImg.icons
                .servArticle
                    h2 Mais...
                        llalalala