section#how
    h2.title O processo
        .titleDownLine
    #midLine
    article.briefing.left
        .elipse
        h2 Briefing
        p.
            É aqui aonde tudo começa, nossa primeira conversa sobre o seu projeto. É nesta parte que tento entender o seu negócio, seus clientes, seus concorrentes e suas necessidades. A partir daqui, começamos a trabalhar juntos. 
            
    article.planning.right
        .elipse
        h2 Planejando
        p.
            Aqui usamos o briefing como uma base para pesquisas e analizes mais avançadas sobre seu projeto e apartir daqui, começam os primeiros rascunhos. Após terminados, conversamos novamente para discutir os resultados, solucionar possiveis duvidas e definirmos juntos o andamento do projeto. 
            
    article.formalizing.left
        .elipse
        h2 Formalizando
        p.
            Após entender as suas necessidades, definir tempo, esforço e tecnologias que serão empregadas em seu projeto, discutiremos prazo, formas de pagamento e o valor do investimento e formalizaremos um contrato. 
            
    article.creating.right
        .elipse
        h2 Criando
        p.
            Finalmente. Aqui que suas ideias começam a sair do papel e começam a ganhar forma e cor. Nesta parte nasce a propósta preliminar do seu projeto. Um desenho exato de como o seu projeto ficará em sua fase final e usaremos ele para discutir detalhes do processo criativo e fazer revisões e mudanças caso seja necessario. Serão feitas até 3 alterações sem custos adicionais, garantir a sua real satisfação. 
            
    article.developing.left
        .elipse
        h2 Desenvolvendo
        p.
            protótipo aprovado? Mãos a obra! É aqui que iniciamos a ultima parte do projeto, onde pouco o seu projeto vai ganhando vida
            
    article.finishing.right
        .elipse
        h2 Finalizando
        p. 
           Desenvolvimento finalizado, esta é a melhor parte do projeto, a parte que vemos todo o esforço e investimento transformados em algo que certamente vai sanar suas necessidades, te entrego os arquivos do projeto em alta definição, ou sua página devidamente hospedada e funcional. No caso do website, ainda nao nos separamos por aqui, acompanharei de perto o seu site por mais dois meses para garantir que tudo saia como planejado. Se após este periodo, ainda quiser manter nossa parceria, podemos podemos fechar um pacote de manutenção.
