section#contact
    #contactWrapper
        h1 { wf }
        #contactInfoWrapper
            p Compartilhe suas ideias:
            p thewazig.wf@gmail.com

            #contactSocial
                .twiter
                    a(href="#")
                .face
                    a(href="#")
                .behance
                    a(href="#")
                .github
                    a(href="#")
        
        #formWrapper
            form(id="", method="post", action="")
                label(for="nome")
                    input(type="text", placeholder="Name" id="nome" name="name")
                label(for="email")
                    input(type="text", placeholder="Email" id="email" name="email")

                label(for="textarea")
                    textarea(id="textarea")
                #buttonWrapper
                    input(id="button" type="submit" name="submit" value="OK" )
            