footer
    .lastContacts
        .lastWrapper
            .skype
                .fImg
                h2 Thewazig@hotmail.com
            .whatsapp
                .fImg
                h2 9-6364-2358
    p   