footer
    .lastContacts
        .lastWrapper
            .whatsapp
                .icons
                h2 9-6364-2358
            .skype
                .icons
                h2 Thewazig@hotmail.com
    p   