header
    .navTrigger
        p Menu
    nav
        #navWrapper
            .logo
                h2 { wf }
            menu
                a(href="#aboutMe") Quem sou?
                a(href="#work") Projetos
                a(href="#services") Serviços
                a(href="#contact") Contato
                
            .social