doctype html
html
    head
        title Washington Ferreira
        meta(charset="utf-8")
        meta(name="description" content="Meu portifólio porra")
        meta(name="keywords" content="portifólio, thewazig, washington, ferreira, web, design")
        link(rel="stylesheet" href="assets/css/main.css")
    body
        //header
        include includes/01.header.jade
        //section#about
        include includes/02.about.jade
        //section#work
        include includes/03.work.jade
        //section#how
        include includes/04.how.jade
        //section#contact
        include includes/05.contact.jade
        //footer
        include includes/06.footer.jade

        //up Button
        .up
            a(href="#headerSection") ^Up^
        
        script(src="assets/js/jquery-2.1.4.min.js")
        script(src="assets/js/function.js")
        